@import url('https://fonts.googleapis.com/css?family=Baskervville|Open+Sans|Roboto&display=swap');
:root {
    --mainBlue: #15343f;
    --secondBlue: #46a3c2;
    --mainYellow: rgb(102, 212, 226);
    --mainWhite: #FFFFFF;
    --mainBlack: #212121;
    --mainPurple: #E040FB;
    --mainGrey: rgb(52, 108, 160);
}

body {
    font-family: 'Baskervville', serif;
    /* background: var(--mainWhite); */
    color: var(--mainBlack);
    overflow: hidden;
}


/* nav links */

.navbar-toggler {
    outline: none !important;
}

.toggler-icon {
    font-size: 2.5rem;
    color: var(--mainBlue);
}

.nav-link {
    color: var(--mainBlue);
    font-size: 1.3rem;
    transition: all 0.5s ease-in-out;
}

.nav-link:hover {
    color: var(--mainPurple);
}


/* end of nav links */


/* banner */

.max-height {
    min-height: calc(100vh - 76px);
    background: url("https://images.unsplash.com/photo-1568658176307-bfbd2873abda?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80") center/cover fixed no-repeat;
    position: relative;
}

.banner {
    color: var(--mainWhite);
    margin-top: -4rem;
}

.banner-title {
    color: var(--secondBlue);
    font-size: 3rem;
}

.banner-link {
    font-size: 1.5rem;
    color: var(--mainBlack);
    border: 0.2rem solid var(--mainBlack);
}

.banner-link:hover {
    background: var(--mainBlack);
    color: var(--mainBlue);
}

.btn-pink {
    color: var(--mainBlue) !important;
    border-color: var(--mainBlue) !important;
}

.btn-black {
    color: var(--mainBlack) !important;
    border-color: var(--mainBlack) !important;
}

.btn-black:hover {
    color: var(--mainBlue) !important;
    background: var(--mainBlack) !important;
}

.btn-pink:hover {
    background: var(--mainBlue) !important;
    color: var(--mainBlack) !important;
}

.btn:hover {
    border: 1px solid transparent;
    background: #46a3c2;
    color: #15343f;
}


/* end of cart buttons */


/* about */

.about-img__container {
    position: relative;
}

.about-img__container::before {
    content: "";
    position: absolute;
    top: -1.5rem;
    left: -1.7rem;
    width: 100%;
    height: 100%;
    outline: 0.5rem solid var(--thirdBlue);
    z-index: -1;
    transition: all 1s ease-in-out;
}

.about-img__container:hover:before {
    top: 0;
    left: 0;
}


/* store items */

.store {
    background: var(--mainGrey);
}

.img-container {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}


/*end of  store items */

.search-box {
    background: var(--secondBlue);
    color: var(--secondBlue);
}


/* ligthbox */

.lightbox-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.6) !important;
    display: none;
}

.show {
    display: block;
}

.lightbox-close {
    color: var(--mainBlue);
    font-size: 3rem;
    transition: all 1s ease-in-out;
    cursor: pointer;
}

.lightbox-close:hover {
    color: var(--mainYellow);
}

.lightbox-control {
    position: absolute;
    font-size: 4rem;
    color: var(--mainBlue);
    transition: all 1s linear;
    cursor: pointer;
}

.lightbox-control:hover {
    color: var(--mainYellow);
}

.btnLeft {
    top: 50%;
    left: 0;
    transform: translateX(-60%);
}

.btnRight {
    top: 50%;
    right: 0;
    transform: translateX(60%);
}

.counter {
    background-image: url('https://images.unsplash.com/photo-1565120130276-dfbd9a7a3ad7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=80');
    /* background-color: rgb(25, 67, 122); */
    background-attachment: fixed;
    background-size: cover;
    color: white;
    border-radius: 50px solid blue;
}

.outer-div {
    height: 350px;
    overflow: hidden
}

.inner-div1 {
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    transition: all 0.5s ease;
    background-image: url(../img/for-men.jpg)
}

.inner-div1:hover {
    transform: scale(1.2)
}

.inner-div2 {
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    transition: all 0.5s ease;
    background-image: url(../img/for-women.jpg)
}

.inner-div2:hover {
    transform: scale(1.2)
}

.zoom-box-text {
    text-align: center;
    line-height: 300px;
}

.zoom-box-text {
    color: white;
}

.product-general {
    background-color: #15343f;
    padding-top: 20px;
    width: 100vw;
    height: 100vw;
}

.product-card .card-title {
    font-weight: 600;
    font-size: 22px;
}

.product-card .card-text {
    font-size: 16px
}

.product-card:before {
    content: "\f217";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: deeppink;
    font-size: 20px;
    padding-right: 10px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.img-fluid {
    display: flex;
}

.main {
    background-color: rgb(68, 83, 83);
}